<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ômega - React Tech</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">
    <!-- Bootstrap core CSS -->
    <link href="/public/principal/carousel/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/public/principal/carousel/carousel.css" rel="stylesheet">
    <link rel="icon" href="/public/principal/carousel/assets/brand/Reacticon.ico"/>
  </head>
  <body>
    
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> <img class="logo" src="/public/principal/carousel/assets/brand/REACT.png" alt="logo"> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <!--Linkar para outro HTML-->
            <a class="nav-link active" aria-current="page" href="/">PRINCIPAL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cursos">CURSOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cadastro">REGISTRAR-SE</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><img class="carrossel" src="/public/principal/assets/brand/numero1.jpg" alt="carrossel" width="100%" height="100%"> </svg>

        <div class="container">
          <div class="carousel-caption">
            <h1 class="titulo">CONHEÇA NOSSOS CURSOS!</h1>
            <p class="descricao">Temos trilhas de carreiras para você seguir e dedicar-se nos estudos!</p>
            <p><a class="btn btn-lg btn-primary" href="#">Trilha de Carreira</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"> <img class="carrossel" src="/public/principal/assets/brand/numero2.jpg" alt="carrossel" width="100%" height="100%"> </svg>

        <div class="container">
          <div class="carousel-caption">
            <h1 class="titulo">SEJA UM INSTRUTOR!</h1>
            <p class="descricao">Transforme vidas! Junte-se a React Tech Academy numa jornada pela educação. </p>
            <p><a class="btn btn-lg btn-primary" href="#">Vamos lá</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><img class="carrossel" src="/public/principal/assets/brand/numero3.jpg" alt="carrossel" width="100%" height="100%"></svg>

        <div class="container">
          <div class="carousel-caption ">
            <h1 class="titulo">BUSINESS!</h1>
            <p class="descricao">Uma nova forma de treinar e contratar profissionais para sua empresa.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Saiba Mais</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 200x200" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title> <img class="ilus1" src="/public/principal/carousel/assets/brand/TI e Software.png" alt="TI e Software"> </svg>
        <br>
        <br>

        <h2>Tecnologia</h2>
        <p>Cursos de tecnologia com base linguagens de programação e diversas tecnologias para especializar-se!</p>
<!--         <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title> <img class="heading" src="/public/principal/carousel/assets/brand/dESIGN.png" alt="Design"> </svg>
        <br>
        <br>

        <h2>Design e Marketing</h2>
        <p>Aprenda elementos de Design Centrado no Usuário, Design Thinking e métodos de Marketing!</p>
<!--         <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="160" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 160x160" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title> <img class="idiomas" src="/public/principal/carousel/assets/brand/Idiomas.png" alt="Idiomas"> </svg>
        <br>
        <br>

        <h2>Idiomas</h2>
        <p>Para fechar com chave de ouro, cursos de idiomas para abrir novas vagas com oportunidades do exterior e aumentar seu currículo profissional.</p>
<!--         <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
      </div><!-- /.col-lg-4 -->

      
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">“Na área de engenharia, o conhecimento não é acessível, sendo necessário recorrer a cursos extra-curriculares para se adequar ao mercado de trabalho.” <br>
          <br>
          <!--Nome do Professor e currículo-->
          
          <p class="lead"><strong>Levy Moraes.</strong><i><br><span class="text-muted"> Engenheiro Elétrico</span></h2></i></p>
      </div>

      <!--Imagem do Professor-->
      <div class="col-md-5">
        <img class="professores" src="/public/principal/carousel/assets/brand/Levy_Morais.jpg" alt="Levy Morais" width="500px" height="500px">
        
      <!--Fim-->
        
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">“Educação de qualidade e que realmente
impacta na vida do estudante vem da
base. Quanto mais cedo se tem acesso
melhor e mais intuitivo se torna.”
          <br>
          <br>
          <p class="lead"><strong>Neiton Carvalho.</strong><i><br><span class="text-muted"> Bel e Lic em Ciência da Computação</span></h2></i></p>
      </div>
      <div class="col-md-5 order-md-1">
       <img class="professores" src="/public/principal/carousel/assets/brand/Neitonok.jpg" alt="Neiton Carvalho" width="500px" height="500px">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">"Gerar renda através da docência, viabilizar cursos para qualquer pessoa, em qualquer lugar"
          <br>
          <br>
          <p class="lead"><strong>Diego Rocha.</strong><i><br><span class="text-muted"> Bel e Lic em Ciência da Computação</span></h2></i></p>
      </div>
      <div class="col-md-5">
        <img class="professores" src="/public/principal/carousel/assets/brand/Diego_Rocha.jpeg" alt="Diego Rocha" width="500px" height="500px">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2021-2022 Ômega Company &middot; <a href="#">Privacidade</a> &middot; <a href="#">Termos de Uso</a></p>
  </footer>
</main>


    <script src="/public/principal/carousel/assets/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>